footer {
    // background-color: #f0f0f0;
    // padding: 20px;
    // text-align: center;
    // position: absolute;
    // bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #97cbff;
    color: black;
    // font-weight: 600;
    margin-top: 1rem;
    // display: flex;
    // align-items: center;
    // line-height: 20px;
    font-size: 1rem;
}