footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}