.main {
  // margin: 4.6rem 8rem;
  // background-color: azure;
  color: rgb(34, 34, 34);
  border-radius: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  // margin: 2.6rem;
}

.section {
  flex-basis: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.section img {
  width: 100%;
  height: auto;
  /* display: block; */
  border-radius: 0.8rem;
  max-width: 40.5rem;
}

.section
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 2.6rem;
}

.section p {
  font-size: 1.6rem;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0 2rem 0 2rem;
}

@media (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
    margin: 4.6rem;
  }

  hr {
    margin: 0 4.6rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-basis: 75%;
    margin: 0.6rem;
  }

  hr {
    margin: 0 0.6rem;
  }
}
