<div class="main">
  <div class="container">
    <div class="section">
      <h1>¿Cómo Dios me encontro?</h1>
      <p>En mi experiencia creo que Dios nos puede encontrar de forma que menos nos esperamos, solo tenemos que dejar de ocultarnos de él.</p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="section">
      <h2>Cuando más estaba alejado de ti, tu me acompañabas</h2>
      <p>
        En el momento donde estaba más alejado de ti, me encontraste. Cuando no sabía donde estaba me guiaste.
        Siempre estuviste a mi lado, pero no te veía, en esas cosas buenas que me pasaban tu mano poderosa intercedía y
        no te agradecía.
      </p>
    </div>
    <div class="section img-center">
      <img src="assets/images/img01.jpg" alt="Imagen 1">
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="section img-center">
      <img src="assets/images/img02.jpg" alt="Imagen 2">
    </div>
    <div class="section">
      <h2>Me pusiste una prueba en mi camino</h2>
      <p>
        Al no poder apreciar tu gloria y misericordia me pusiste una prueba. Para que por esos medios encontrara el camino así ti y así poder encontrarme.
        A veces me cuestiono si fue la mejor forma Padre, pero solo tú tienes la sabiduría eterna, tú eres el inicio y fin.
      </p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="section">
      <h2>Cuando me sentí derrotado sin fuerzas tú fortaleciste</h2>
      <p>
        Ya derrotado, llorando mi alma en silencio y mi mente en el sitio más oscuro que puede existir, sin ganas de vivir. Justo allí apareció una luz,
        una voz que me dijo: tú puedes, tú tienes y debes salir de allí, porque yo soy tu roca, soy tu refugio, ven a mí, no veas tu alrededor,
        no veas atras, solo sigue mi voz que yo te acompañaré entre el valle de sombras.
      </p>
    </div>
    <div class="section img-center">
      <img src="assets/images/img03.jpg" alt="Imagen 1">
    </div>
  </div>
  <!-- <div>
    Dios Líbrame de los pensamientos que me atormentan, lléname de tu paz, de tu presencia y de tu luz.
    Te entrego mis heridas, mis angustias, mis luchas y mis cargas.
    Limpiame por favor, purifícame y bendíceme.
    Ya no mirare el pasado, mirare hacia mi futuro junto a ti Dios, porque tu eres el autor y consolador de
    mi Fe.
    Y tu eres el que empezó esta nueva obra en mi y quien la terminara.
    Amén.
  </div> -->
  <!-- <hr>
    <div class="container">
        <div class="section">
            <h2>Titulo</h2>
            <p>
                Texto Breve
            </p>
        </div>
        <div class="section img-center">
            <img src="images/img03.jpg" alt="Imagen 1">
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="section img-center">
            <img src="images/img04.jpg" alt="Imagen 2">
        </div>
        <div class="section">
            <h2>Titulo</h2>
            <p>
                Texto Breve
            </p>
        </div>
    </div> -->
</div>
