<div class="main">
    <div class="container">
        <div class="section">
            <h2>Cuando más estaba alejado de ti, tu me acompañabas</h2>
            <p>
                En el momento donde estaba mas alejado de ti, me encontraste donde no sabia que estabas tu me
                acompañabas.
                Siempre supe que estabas a mi lado pero no te veia, en esas cosas buenas que me pasaban tu estabas y no
                te agradecia.
            </p>
        </div>
        <div class="section img-center">
            <img src="assets/images/img01.jpg" alt="Imagen 1">
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="container">
        <div class="section img-center">
            <img src="images/img02.jpg" alt="Imagen 2">
        </div>
        <div class="section">
            <h2>Oración de restauración</h2>
            <p>
                Dios Líbrame de los pensamientos que me atormentan, lléname de tu paz, de tu presencia y de tu luz.
                Te entrego mis heridas, mis angustias, mis luchas y mis cargas.
                Limpiame por favor, purifícame y bendíceme.
                Ya no mirare el pasado, mirare hacia mi futuro junto a ti Dios, porque tu eres el autor y consolador de
                mi Fe.
                Y tu eres el que empezó esta nueva obra en mi y quien la terminara.
                Amén.
            </p>
        </div>
    </div> -->
    <!-- <hr>
    <div class="container">
        <div class="section">
            <h2>Titulo</h2>
            <p>
                Texto Breve
            </p>
        </div>
        <div class="section img-center">
            <img src="images/img03.jpg" alt="Imagen 1">
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="section img-center">
            <img src="images/img04.jpg" alt="Imagen 2">
        </div>
        <div class="section">
            <h2>Titulo</h2>
            <p>
                Texto Breve
            </p>
        </div>
    </div> -->
</div>