<div class="prayer">
    <div class="container">
        <div class="title">Oraciones de restauración</div>
        <div class="description">
            Dios Líbrame de los pensamientos que me atormentan, lléname de tu paz, de tu presencia y de tu luz.
            Te entrego mis heridas, mis angustias, mis luchas y mis cargas.
            Limpiame por favor, purifícame y bendíceme.
            Ya no mirare el pasado, mirare hacia mi futuro junto a ti Dios, porque tu eres el autor y consolador de
            mi Fe.
            Y tu eres el que empezó esta nueva obra en mi y quien la terminara.
        </div>
        <div class="date">
            Amén.
        </div>
        <div class="date">
            {{ this.date }}
        </div>
    </div>
</div>