.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97cbff;
  color: white;
  font-weight: 600;
}

.toolbar a {
  margin: 0 0.6rem;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .toolbar a {
    margin: 0 0.6rem;
    color: aliceblue;
    font-size: 1rem;
  }
}